*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fefefe;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background: #060b18;
}

h1 {
  text-align: center;
  margin-top: 5px;
}

.section {
  margin-bottom: 40px;
  padding: 0 26px;
}
@media (min-width: 768px) {
  .section {
    margin-bottom: 80px;
  }
}

.movie__container {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .movie__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
  }
}
.movie__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 10px;
  border: 1px solid #8e9299;
  margin: 10px;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .movie__item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    max-width: 30%;
    height: 50%;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .movie__item {
    font-size: 14px;
  }
}
.movie__data {
  padding-left: 8px;
  width: 80%;
}
.movie__info {
  margin-top: 4px;
}
.movie__image {
  background-image: url("../assets/img/movie_poster.jpg");
  width: 100px;
  height: 150px;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .movie__image {
    width: 200px;
    height: 200px;
  }
}
.movie__description {
  margin-top: 15px;
}
.movie__premiere {
  margin-top: 20px;
  color: #f56a3f;
}

.fa-clock-o {
  padding-left: 3px;
  padding-right: 3px;
}/*# sourceMappingURL=style.css.map */