$dark: #060b18;
$light: #d2d4d9;
$white: #fefefe;
$flamingo: #f56a3f;
$shuttleGray: #676b73;
$osloGray: #8e9299;
$black: #000;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$margin-bottom: 80px;
$margin-bottom-mobile: 40px;
