@import "./colors.scss";

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background: $dark;
}

h1{
  text-align: center;
  margin-top: 5px;
}

.section {
  margin-bottom: $margin-bottom-mobile;
  padding: 0 26px;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: $margin-bottom;
  }
}

.movie {

  &__container {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    min-height: 100vh;


    @media (min-width: $breakpoint-tablet) {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;

      justify-content: space-around;

      align-content: flex-start;

      align-items: center;
    }
  }

  &__item {
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    border: 1px solid $osloGray;
    margin: 10px;
    border-radius: 4px;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 10px;
      max-width: 30%;
      height: 50%;
      @media (min-width: $breakpoint-desktop) {
        font-size: 14px;
      }
    }
  }

  &__data {
    padding-left: 8px;
    width: 80%;
  }
  &__info {
    margin-top: 4px;
  }
  &__image {
    background-image: url("../assets/img/movie_poster.jpg");
    width: 100px;
    height: 150px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    @media (min-width: $breakpoint-tablet) {
      width: 200px;
      height: 200px;
    }
  }

  &__description {
    margin-top: 15px;
  }
  &__premiere {
    margin-top: 20px;
    color: $flamingo;
  }
}

.fa-clock-o {
  padding-left: 3px;
  padding-right: 3px;
}
